<!DOCTYPE html>
<html lang="en">
@Html.Action("_Header", "Menu")
<body>
@Html.Action("_Navbar", "Menu")
<hr/>
<div class="wrapper">
    @RenderBody()
    <div class="push"></div>
</div>
@Html.Action("_Footer", "Menu")
</body>
</html>
